include ../assets/mixins/ashin-mixins

doctype
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		include ../assets/include/ashin-link
		include ../assets/include/ie_patch
		script(type="text/javascript").
			$(function(){				
				
			})
	body
		+ashin_navbar(3)
		.ashin-router
			.container
				a.link-white(href='/') 阿xin的空间
				span &nbsp;/&nbsp;
				a.link-white(href='/manager') 管理员
				span &nbsp;/&nbsp;
				span 发布日志
		.container
			
		+ashin_footer